<h1>Indica el nombre que tendra la seccion</h1>
<%= form_for @sections do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>